  /* Common CSS Start */
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding:0 ;
    margin: 0;
}

  /* Common CSS End */
 
  /* Banner CSS Start */

  .banner-container{
    background: rgba(229, 84, 115, 0.1);
    margin-bottom: 160px;
  }
  .banner-text{
    width:545px ;
  }
  .banner-text h1{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 65px;
font-weight: 800;
line-height: 80px;
text-align: left;
margin-bottom: 32px;
  }
.banner-text p{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 17px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-bottom: 32px;
  }
.banner-text button{
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    text-align: left;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 20px 43px 20px 43px;
  
}
.banner-img{
    width: 500px;
    height: 700px;
    margin-top: 30px;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
    /* Banner CSS End */
  
    /*  Feature CSS Start */
.feature-area{
  width: 1152px;
  margin: 0 auto;
  margin-bottom: 128px;
}
.feature-taxt{
  width: 594px;
  margin: 0 auto;
  margin-bottom: 47px;
}
.feature-taxt h2{
  color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 40px;
text-align: center;
margin-bottom: 24px;
}
.feature-taxt p {
  color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
}
.feature-card {
  display: flex;
  gap: 24px;
}
.feature-card .card-one{
  padding: 110px 78px 0 76px ;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  margin-bottom: 32px;
}
.feature-card .card-two{
  border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 117px 47px 13px 47px;
margin-bottom: 32px;
}
.feature-card .card-three{
  border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 67px 75px 11px 75px;
margin-bottom: 32px;
}
.feature-card img{
  width: 100%;
  height: 100%;
}
.card-one-area a, .card-two-area a, .card-three-area a{
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  display: block;
  text-align: center;
  text-decoration-line: underline;
}
    /*  Feature CSS End */

    /* Help Secction CSS Start */
.help-container{
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
   width:1152px;
   margin: 0 auto;
   margin-bottom: 140px;
}
.help-area{
  display: flex;
  gap: 90px;
 padding: 86px 175px; 
}
.box-one, .box-two, .box-three span{
  color: rgba(39, 39, 39, 0.8);
font-family: Lato;
font-size: 24px;
font-weight: 600;
line-height: 35px;
text-align: center;
}
.img-three{
  text-align: center;
}
/* Help Secction CSS End */


    /* Responsive CSS  */
    /* Banner Section */
    @media screen and (max-width:576px) {
      .banner-area{
        flex-direction: column;
        gap: 50px;
      }
      .banner-text{
        width: 40%;

      }
      .banner-text h1,p,button{
        width: 100%;
      }
      .banner-img{
        width: 50%;
        height: 50%;
      }
      .banner-img img{
        width: 100%;
        height: 100%;
      }
      .banner-text h1{
            font-size: 50px;
      }
      /* Feature CSS Responsive */
     .feature-card{
      flex-direction: column;
     }
     .feature-area{
      width:100%;
      margin: 0px;

     }
     .feature-taxt{
      width: 100%;
     }
     .feature-card{
      justify-content: center;
      align-items: center;
     }
     .card-one, .card-two, .card-three{
       width: 50%;
       height: 50%;
       margin: 0 auto;
     }
     .card-one img, .card-two img, .card-three img{
      width: 100%;
      height: 100%;
     }
     .feature-card .card-one{
      padding: 52px 31px 0 31px;
     }
     .feature-card .card-two{
      padding: 73px 32px 13px
     }
     .feature-card .card-three{
      padding: 60px 48px 11px
     }
     /* Help Secction Responsive */
  .help-container{
    width: 100%;
    margin-top: 141px;
  }
  .help-area{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px;
  }
  .box-one, .box-two, .box-three{
    width: 100%;
  }
.box-three span{
  text-align: center;
  display: block;
}
    }